<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="..\static\images\faviconca.png" type="image/ico" />
    <link rel="stylesheet" type="text/css" href="..\static\css\index.css">
    <title>Gestionar Usuarios</title>
</head>
<body>

    <section align = "center" class="form" >
        <a href="Bienvenida.html"><img src="..\static\images\logocafe.png" alt=""></a>
        <table id="tb">
            <thead>
                <h1>Gestión de Usuarios</h1>

                <td>ID</td>
                <td>Nombre</td>
                <td>Correo</td>
                <td>Delete</td>

            </thead>

            <tbody >
                {% for user in usuarios %}
                    <tr id="trreg">
                        <td class="reg"> {% print(user[0]) %} </td>
                        <td class="reg"> {% print(user[1]) %} </td>
                        <td class="reg"> {% print(user[2]) %} </td>
                        <td class="reg"><a href="/delete/{{user.0}}">Delete</a></td>
                    </tr>
                {% endfor %}
            </tbody>
            

        </table>
        <br>
        <a class="btn btn-primary btn-large btn-block" 
        id="botonru" href="/admin/newuser/">Registrar Nuevo Usuario</a>
         
        </form>
     </section>
     
     <div>
        <section align="center" class="form">
        <br>
        <input type="submit" value="Ir a Inicio" id="bt_cabezote">
        <!--<input type="submit" value="Cerrar Sesión" id="bt_cabezote">-->
        <a class="btn btn-primary btn-large btn-block" 
        id="bt_cabezote" href="/">Cerrar Sesión</a>
        <br>
    </div>
</body>
</html>