<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale">
    <meta http-equiv="X-UA-Compatible" content="ie-edge">
    
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans:wght@400;600&display=swap" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'css/productosAdmin.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename = 'images/faviconca.png') }}" type="image/ico" />

    <title>Coffe Colombia: productos</title>
</head>

<body>
    <div>
        <header class="container">

            <div>
                <img src="{{ url_for('static', filename = 'images/logocafe.png') }}" >
            </div>

            <div>
                <h3>
                    <b>Bienvenido(a): Administrador</b>
                </h3>

                <a class="btn " id="botonBuscar" href="/admin/products/create/">Agregar</a> 
    
                <form class="formBusqueda" action="/buscarNombre" method="POST" novalidate>
                    <button> Buscar </button>
                    <input id = "producto" type = "text" name = "producto" id = "producto" placeholder="Producto">
                </form>

                    <select name="opcionBusqueda" id="opcionBusqueda">
                        <option value="id">
                            Id
                        </option>
                        <option value="saab">
                            Nombre
                        </option>
                    </select>

                    <div class="row d-flex justify-content-center">
                        <div class="col-xs-12">
                    <table class="table table-hover table-dark">
                        <thead>
                          <tr>
                            <th scope="col">Imagen</th>
                            <th scope="col">Nombre</th>
                            <th scope="col">Descripcion</th>
                            <th scope="col">Stock</th>
                            <th scope="col">Acción</th>
                          </tr>
                        </thead>
                        <tbody>
                            {%for datos in reg%}
                              <tr>
                              <td>
                                <img src="/static/images/{{datos[4]}}"  width="100" height="100">
                              </td>
                              <td>{{datos[1]}}</td>                              
                              <td>{{datos[2]}}</td>
                              <td>{{datos[3]}}</td>
                              <td>
                                   <div class="col-sm-6"><a href="/editarProducto/{{datos[0]}}"><button type="submit" class="btn btn-default">Editar</button></a></div >
                                   <div class="col-sm-6"><a href="/eliminarProducto/{{datos[0]}}"><button type="submit" class="btn btn-default">Borrar</button></a></div >    
                              </td>
                            </tr>
                            {%endfor%}
                        </tbody>
                    </table>
                    </div>
                </form>
            </div>
            
        </header> 
      
    <footer class="footer-container">
        <div class="footer-main">
            <h4>Elaborado por: </h4>
        </div>
        <div>
            <section align="center" class="form">
            <br>
            <input type="submit" value="Ir a Inicio" id="bt_cabezote">
            <a class="btn btn-primary btn-large btn-block" 
            id="bt_cabezote" href="/">Cerrar Sesión</a>
            <br>
        </div>    
    </footer> 
</body>

</html>